@font-face {
    font-family: 'crock';
    src: url('../fonts/crock.ttf');
}

@font-face {
    font-family: 'crock2';
    src: url('../fonts/kaola.ttf');
}
@font-face {
    font-family: 'crock3';
    src: url('../fonts/new.ttf');
}

* {
    font-family: 'crock';
    box-sizing: inherit;
    touch-action: manipulation;
}

body {
    background: none !important;
}
div {
    padding-left: 5%;
    height: 78%;
}
table {
    width: 100%;
  }

::-webkit-scrollbar {
    width: 3px;
  }
::-webkit-scrollbar-track {
    background: rgb(73, 73, 73); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #b3b3b3; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgb(39, 39, 39); 
  }

.align-left {
    text-align: left;
    left: -15px;
}

#container {
    -webkit-user-drag: element;
    display: block;
    padding: 25px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 356px;
    height: 482px;
    background-image: url('../images/bank_paper.png');
    background-size: 100% 100%;
}

#add_money {
    background-color: rgba(49, 49, 49, 0.1);
    display: block;
    border: none;
    outline: none;
    resize: none;
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:19px;
    left:175px;
    top:288px;
    width: 50px;
}

#take_money {
    background-color: rgba(49, 49, 49, 0.1);
    display: block;
    border: none;
    outline: none;
    resize: none;
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:19px;
    left:175px;
    top:328px;
    width: 50px;
}

#add_gold {
    background-color: rgba(49, 49, 49, 0.1);
    display: block;
    border: none;
    outline: none;
    resize: none;
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:19px;
    left:175px;
    top:390px;
    width: 50px;
}

#take_gold {
    background-color: rgba(49, 49, 49, 0.1);
    display: block;
    border: none;
    outline: none;
    resize: none;
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:19px;
    left:175px;
    top:435px;
    width: 50px;
}

#borrow_money {
    background-color: rgba(49, 49, 49, 0.1);
    display: block;
    border: none;
    outline: none;
    resize: none;
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:19px;
    left:175px;
    top:475px;
    width: 50px;
}

#borrow_calculation {
    display: block;
    border: none;
    outline: none;
    resize: none;
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:19px;
    left:215px;
    top:475px;
    width: 50px;
    height: 50px;
}


button:active {
    transform: translateY(4px);
}

button:hover {
    color: white;
    background-color: transparent;
    background-image: url('../images/sbutton.png');
    background-size: 100% 100%;
}


#arrow {
    background-color: transparent;
    background-image: url('../images/arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:10%;
    top:10%;
    width: 432px;
    height: 59px;
}


#addmoney {
    color: #b3b3b3;
    background-color: transparent;
    background-image: url('../images/r_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:230px;
    bottom:223px;
    width: 0px;
    height: 19px;
}
#addmoney:hover {
    color:white;
    background-color: transparent;
    background-image: url('../images/ar_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:230px;
    bottom:223px;
    width: 0px;
    height: 19px;
}

#takemoney {
    color: #b3b3b3;
    background-color: transparent;
    background-image: url('../images/r_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:230px;
    bottom:185px;
    width: 0px;
    height: 19px;
}
#takemoney:hover {
    color:white;
    background-color: transparent;
    background-image: url('../images/ar_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:230px;
    bottom:185px;
    width: 0px;
    height: 19px;
}


#addgold {
    color: #b3b3b3;
    background-color: transparent;
    background-image: url('../images/r_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:230px;
    bottom:120px;
    width: 0px;
    height: 19px;
}
#addgold:hover {
    color:white;
    background-color: transparent;
    background-image: url('../images/ar_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:230px;
    bottom:120px;
    width: 0px;
    height: 19px;
}

#takegold {
    color: #b3b3b3;
    background-color: transparent;
    background-image: url('../images/r_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:230px;
    bottom:80px;
    width: 0px;
    height: 19px;
}

#takegold:hover {
    color:white;
    background-color: transparent;
    background-image: url('../images/ar_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:230px;
    bottom:80px;
    width: 0px;
    height: 19px;
}

#borrowmoney {
    color: #b3b3b3;
    background-color: transparent;
    background-image: url('../images/r_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:280px;
    bottom:37px;
    width: 0px;
    height: 19px;
}

#borrow_info {
    color: #b3b3b3;
    background-color: transparent;
    background-image: url('../images/question.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:310px;
    bottom:37px;
    width: 0px;
    height: 19px;
}

#borrowmoney:hover {
    color:white;
    background-color: transparent;
    background-image: url('../images/ar_arrow.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position:absolute;
    left:280px;
    bottom:37px;
    width: 0px;
    height: 19px;
}

#city {
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:20px;
    left:160px;
    top:33px;
}
#first {
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:20px;
    left:160px;
    top:75px;
}
#last {
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:20px;
    left:160px;
    top:115px;
}
#money {
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:20px;
    left:160px;
    top:158px;
}
#gold {
    font-family: 'crock2';
    font-weight: bold;
    color: rgb(69, 91, 97);
    position:absolute;
    font-size:20px;
    left:160px;
    top:200px;
}

#signature {
    font-family: 'crock3';
    color: rgb(68, 101, 109);
    position:absolute;
    font-size:22px;
    left:160px;
    top:238px;
}
